html {
	font-size: 16px;
}


body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size: 1em;
}

.container{
	max-width: 75em;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    	font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
    	padding: 0 1.875em;
}

/*The widths are in a percentage!*/
header {
	/* height: 110px;  - removed for responsiveness*/
	border-bottom: 0.1875em solid #77a466;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header h1 {
	/* float: left; removed for responsiveness */
	margin: 0;
	padding: 1em 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	/* float: right; removed for responsiveness */
	padding: 2.875em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	padding: 1.875em 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0.5em 0.625em;
	list-style: none;
	/* display: inline; removed for responsiveness */
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}


}

/*The widths are in a percentage!*/
.top-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* clear: both; removed for responsiveness */
}


.bottom-section {
	display: flex;
	align-items: flex-start;
	flex-flow: wrap;
}

.main-image {
	/* height: auto; removed for responsiveness */
	/* float: left; removed for responsiveness */
}
.main-image img {
	width: 100%;
	border-bottom: 0.1875em solid #77a466;
}

.main-title {
	/* height: auto; removed for responsiveness */
	/* float: left; removed for responsiveness */
}
.main-title h3 {
	text-align: left;
	padding: 0.3125em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	/* height: auto; removed for responsiveness */
	/* float: left; removed for responsiveness */
	border-top: 0.0625em solid #eee;
}

.section-one h4 {
	padding: 0.625em 0;
}

.section-two {
	border-left: 0.0625em solid #eee;
	border-right: 0.0625em solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 0.625em 1.875em;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 50px; removed for responsiveness */
	border-top: 0.1875em solid #eee;
	margin: 0 auto;
	/* clear: both; removed for responsiveness */
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/* For Mobile Devices */
@media all and (max-width: 600px) {
	.section-one, .section-two, .section-three {
		width: 100%;
		flex-flow: row wrap;
	}

	h3 {
		font-size: 0.8em;
	}


	.section-two, .section-three {
		border: none;
	}

	div .section-one {
		padding-left: 1.7em;
		font-size: 0.9em;
	}

	header h1 {
		padding-bottom: 0;
	}
}


/* For Tablets */
@media all and (min-width: 768px) {
	header {
		width: 100%;
	}

	header nav ul li {
		margin-bottom: 1em;
	}

	header nav ul {
		display: inline-flex;
	}
}


/* For Desktops */
@media all and (min-width: 1200px) {
	header {
		display: flex;
		flex-direction: row;
    		justify-content: space-between;
	}
}
